<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "music.burudani.mobi"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BURUDANI Music</name>

    <description>
       Download and Stream African Music
    </description>

    <author href="https://www.burudani.mobi" email="info@burudani.mobi">
        BURUDANI Team
    </author>
	
	<preference name="android-minSdkVersion" value="15" /> 
	
	<!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
	
	<gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
	<gap:plugin name="com.dawsonloudon.videoplayer" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	
	<access origin="*"/> <!-- allow all pages, use for development -->
	<access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->

</widget>